<div class="kdg-container">
    <div class="nav-container">
        <i class="pi pi-arrow-left part" style="color: white; cursor: pointer;" routerLink=""></i>
        <h2 class="item part">opleiding</h2>
        <div class="part">
            <img src="../../assets/kdg-icon.png" height="70px"/>
        </div>
    </div>

    <div class="kdg-txt-container">
        <p class="item kdg-intro">Aan de Karel de Grote Hogeschool ben ik mijn opleiding Toegepaste Informatica begonnen. In grote lijnen heb ik dit geleerd tijdens mijn traject.</p>
        <p class="item">OO-Programmeren</p>
        <p class="item">Computersystemen (Linux)</p>
        <p class="item">Netwerken (Cisco)</p>
        <p class="item">Databanken (Oracle)</p>
        <p class="item">Management</p>
        <p class="item">User Interfaces</p>
        <p class="item">Communicatie</p>
        <p class="item">Software Engineering</p>
        <p class="item kdg-outro">
            Na 4 jaar had ik grotendeels de vakken van het derde jaar afgerond, behalve diegene die ik mee heb moeten pakken.
            Het leek mij daarom de beste optie om mijn laatste jaar Toegepaste Informatica te voltooien aan de Thomas More Hogeschool.
        </p>
    </div>
</div>

<div class="tm-container">
    <div class="nav-container-tm">
        <div class="part"></div>
        <div class="part"></div>
        <div class="part">
            <img src="../../assets/tm-icon.png" height="90px"/>
        </div>
    </div>

    <div class="tm-txt-container">
        <p class="item tm-intro">Mijn laatste jaar Toegepaste Informatica zat nog vol interessante vakken en uitdagende opdrachten. Enkele voorbeelden hiervan:</p>
        <p class="item">Stage bij <a href="https://allphi.eu/" target="_blank">Allphi</a></p>
        <p class="item">Angular</p>
        <p class="item">React</p>
        <p class="item">Laravel</p>
        <p class="item">Java Spring</p>
        <p class="item">Flutter</p>
        <p class="item">Kubernetes</p>
        <p class="item">Artificiële Intelligentie</p>
        <p class="item">WPF</p>
        <p class="item tm-outro">
            Mijn opleiding afsluiten aan de Thomas More hogeschool was achteraf gezien de beste beslissing ooit!
        </p>
    </div>
</div>