<div class="bayer-container">
    <div class="nav-container">
        <i class="pi pi-arrow-left part" style="color: black; cursor: pointer;" routerLink=""></i>
        <h2 class="item part">Bayer</h2>
        <div class="part">
            <img src="../../assets/bayer.png" height="50px"/>
        </div>
    </div>

    <div class="bayer-txt-container">
        <p class="item">
            Bayer is wereldwijd marktleider in gewasbeschermingsmiddelen en zaden.
            Door biologie, chemie en digitale tools slim te combineren versnellen we innovatie in de landbouw, om zo een goede oogst te garanderen voor landbouwers en gezonde producten van goede kwaliteit te maken voor consumenten.
            Onze producten zijn bovendien gericht op het mogelijk maken van een duurzame landbouw: we helpen planten gezond te blijven. 
            En dat doen we ook door ze te beschermen tegen ziekten en plagen.
        </p>
        <p class="item">
            Als deel van het .NET Development team is het mijn verantwoordelijkheid om verouderde applicaties om te zetten en verbeteringsvoorstellen op te volgen.
        </p>
    </div>
</div>