<div class="container">
    <div class="vntg-container">
        <div class="nav-container">
            <i class="pi pi-arrow-left part" style="color: white; cursor: pointer;" routerLink=""></i>
            <h2 class="item part"></h2>
            <div class="part"></div>
        </div>
        <div class="vntg-txt-container">
            <p class="item">
                <a href="https://ventigrate.be" target="_blank">Ventigrate</a> begeleidt uw bedrijf op het juiste pad naar de digitale toekomst. 
                Maak gebruik van onze enorme ervaring om de verschillende paden tegen elkaar af te wegen. 
            </p>
            <p class="item">
                Ons team assisteert u met het definiëren van de juiste business requirements en begeleidt u naar het gebruik van SharePoint binnen de organisatie. 
                Onze ontwikkelaars bouwen add-ins om de efficiëntie te verhogen en processen te vereenvoudigen. 
            </p>
            <p class="item">
                Ventigrate staat klaar om uw vragen te beantwoorden en SharePoint binnen uw organisatie tot een succes te brengen.
            </p>
        </div>
    </div>
    <div class="comp-container">
        <div class="nav-container">
            <div class="part"></div>
            <div class="part"></div>
            <div class="part"></div>
        </div>
        <div class="comp-txt-container">
            <p class="item">
                <a href="https://compilate.be" target="_blank">Compilate</a> is een jong en dynamisch bedrijf dat zich toespitst op custom .net development. 
                Dit doen we zowel op consultancy basis alsook het volledig uitwerken en ondersteunen van uw project.
            </p>
            <p class="item">
                Compilate is ontstaan uit het moederbedrijf Ventigrate, wat maakt dat we verder bouwen op jarenlange ervaring en kennis. 
                Onze missie is een toegevoegde waarde te bieden voor uw IT projecten en dit met onderstaande kernwaarden als basis. 
                Laat ons u begeleiden naar een op maat gemaakte digitale toekomst.
            </p>
            <p class="item">
                Bij Compilate dragen we een goede werksfeer hoog in het vaandel. Onze ​werkkrachten​ zijn namelijk onze grootste ​troef​.
            </p>
        </div>
    </div>
</div>