<div class="contact-container">
    <div class="nav-container">
        <i class="pi pi-arrow-left part" style="color: white; cursor: pointer;" routerLink=""></i>
        <h2 class="item part">contact</h2>
        <div class="part">
        </div>
    </div>

    <div class="contact-txt-container">
        <p class="item">U kan mij volgen of contact opnemen via onderstaande mogelijkheden.</p>
    </div>

    <div class="widget-container">
        <a class="item part" href="https://www.linkedin.com/in/mr623/" target="_blank">
            <i class="pi pi-linkedin" style="color: white; cursor: pointer; margin-right: 0.6rem;"></i> LinkedIn
        </a>
        <a class="item part" href="mailto:matthias.reynders.business@gmail.com" target="_blank">
            <i class="pi pi-envelope" style="color: white; cursor: pointer; margin-right: 0.6rem;"></i> Email
        </a>
        <a class="item part" href="https://github.com/m4t5k4" target="_blank">
            <i class="pi pi-github" style="color: white; cursor: pointer; margin-right: 0.6rem;"></i> Github
        </a>
    </div>
</div>