<div class="parent-container">
    <div class="container">
        <i class="pi pi-arrow-left part" style="color: white; cursor: pointer;" routerLink=""></i>
        <h2 class="item part">over mij</h2>
        <div class="part"></div>
    </div>
    <div class="text-container">
        <img src="../../assets/avatar2.jpg" alt="" class="avatar">
        <h3 class="item">Wie ben ik</h3>
        <p class="item">
            Ik ben Matthias Reynders, {{ age }} jaar en mijn vakgebied binnen software ontwikkeling is .NET & Web Development.
            Sinds maart 2022 werk ik voor Compilate, een dochterbedrijf van Ventigrate dat zich toespitst op custom .NET development.
        </p>
        <h3 class="item">Bezigheden</h3>
        <p class="item">
            Wanneer ik niet achter de computer zit ben ik graag sportief bezig. 
            Wekelijks ga ik naar de fitness bij mij in de buurt en af en toe train ik thuis.
            Geregeld doe ik met vrienden een sportieve activiteit.
        </p>
        <p class="item">
            Een andere interesse van mij is fotografie, natuur- en autofotografie om specifiek te zijn. 
            Voor foto's te nemen maak gebruik van een drone genaamd de Mavic Air 2.
            Deze drone is ook handig tijdens het karpervissen, omdat ik van bovenaf kan zien waar de vis zich bevindt zonder het water te verstoren. 
            Naast fotografie heb ik nog andere hobby's, zoals gamen (een klassieker), 3D-printen, crypto mining en in de tuin werken.
        </p>

        <h3 class="item">Persoonlijkheid</h3>
        <p class="item" style="padding-bottom: 1em;">
            Mijn MBTI (Myers-Briggs typeindicator) is INFP of ook wel een bemiddelaar genoemd. 
            Binnen een team hou ik rekening met de mening van anderen en probeer ik de kerk in het midden te houden.
            Ik motiveer anderen om hun taken met zorg uit te voeren en geef regelmatig waardering voor hun inzet.
            Ik ben een persoon die herhaaldelijk gebruik maakt van checklists en zoveel mogelijk zelfstandig onderzoek doet en taken uitvoert.
        </p>
    </div>
</div>