/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "primeicons/primeicons.css";

* {
    font-family: 'Roboto';
}

html, body {
    height: 100%;
    margin: 0;
  }