<div class="parent-container">
    <div class="container">
      <h1 class="item">Matthias Reynders</h1>
      <h2 class="item">Fullstack Developer</h2>
    </div>
    
    
    <div class="container">
      <div class="item link" routerLink="/aboutme">over mij</div>
      <div class="item link" routerLink="/education">opleiding</div>
      <div class="item link" routerLink="/skills">skills</div>
      <div class="item link" routerLink="/ventigrate">Ventigrate - Compilate</div>
      <div class="item link" routerLink="/bayer">Bayer</div>
      <div class="item link" routerLink="/contact">contact</div>
    </div>
  </div>