.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.item {
    margin: 10px;
    color: rgb(243, 243, 243);
    user-select: none;
}

.parent-container {
    background: url('../../assets/dark-ver.png');
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link {
    cursor: pointer;
    font-size: 1.2rem;
}

@media (min-width: 1025px) {
    .parent-container {
        background: url('../../assets/dark-hor.png');
        background-size: cover;
    }
}

:host {
    height: 100%;
}